<section id="benefits" ng-show="showBenefits">
  <div class="row">

    <div class="row">
      <h3>Kit do Participante</h3>
      <div class="col s12">
        <div class="chip" id="coffee-chips">
            Pagamentos feitos após o dia 21/10 não terão direito a kit!
          </div>
      </div>
      <div class="col s12 m6">
        <div class="card white-text">
          <div class="card-content blue-grey-bg">
            <span class="card-title">Squeeze do evento</span>
            <p>Squeeze 790ml</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card white-text">
          <div class="card-content blue-grey-bg">
            <span class="card-title">Pasta com zíper</span>
            <p>Pasta de tecido com zíper e logo da SCTI</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card white-text">
          <div class="card-content blue-grey-bg">
            <span class="card-title">Caderninho de anotações com post-its</span>
            <p>Caderno de capa dura reciclada com logo do evento, caneta e post-its.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card white-text">
          <div class="card-content blue-grey-bg">
            <span class="card-title">Camiseta</span>
            <p>Camiseta do evento, colorida e temática com um dos seguintes símbolos a sua escolha: Node.js, GitHub, Arduino, Rails, Docker, Android.</p>
          </div>
        </div>
      </div>
    </div>

  <div class="row">
    <h3>Vantagens com os nossos parceiros</h3>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
            <a href="https://alura.com.br" target="_blank"><img src="imgs/img-card-alura.png"></a>
        </div>
        <div class="card-content">
          <span class="card-title">30% de desconto - Alura</span>
          <p>Em qualquer curso</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
            <a href="https://novatec.com.br" target="_blank"><img src="imgs/img-card-novatec.png"></a>
        </div>
        <div class="card-content">
          <span class="card-title">25% de desconto - Novatec</span>
          <p>Em qualquer compra no website</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
            <a href="https://casadocodigo.com.br" target="_blank"><img src="imgs/img-card-casa.png"></a>
        </div>
        <div class="card-content">
          <span class="card-title">15% de desconto - Casa do Código</span>
          <p>Na compra de livros e e-books</p>
        </div>

      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
            <a href="http://ggili.com.br" target="_blank"><img src="imgs/img-card-gg.png"></a>
        </div>
        <div class="card-content">
          <span class="card-title">10% de desconto - GGBrasil</span>
          <p>Em qualquer compra no website</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
            <a href="http://chiefofdesign.com.br" target="_blank"><img src="imgs/img-card-chief.png"></a>
        </div>
        <div class="card-content">
          <span class="card-title">Webinar do Chief of Desing</span>
          <p>Palestra online exclusiva</p>
        </div>
      </div>
    </div>

  </div>
 </div>
</section>
