<footer class="page-footer scti-blue">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Sobre o evento</h5>
        <p class="grey-text text-lighten-4">A Semana de Ciência da Computação e Tecnologia da Informação (SCTI) é um dos eventos que compõe a Semana Acadêmica Unificada da UENF que todo ano reúne os alunos de graduação para participar de palestras, feiras, apresentações culturais, minicursos entre diversas outras atividades.</p>


      </div>
      <div class="col l4 s12">
        <h5 class="white-text">Endereço</h5>
        <p class="grey-text text-lighten-4">Universidade Estadual do Norte Fluminense Darcy Ribeiro, Av. Alberto Lamego, 2000 - Parque Califórnia, Campos dos Goytacazes - RJ,  CEP: 28013-602</p>
      </div>
      <div class="col l2 s12">
        <h5 class="white-text">Contato</h5>
        <ul class="contact-links">
          <li><a class="white-text" href="https://www.facebook.com/SCTI.UENF/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> /SCTI.UENF
</a></li>
          <li><a class="white-text" href="https://www.facebook.com/SCTI.UENF/photos/a.235053739891084.60802.220824191314039/1213774162019032/" target="_blank"><i class="fa fa-snapchat-ghost" aria-hidden="true"></i> scti2016</a></li>
          <li><a class="white-text" href="https://www.instagram.com/sctiuenf/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> sctiuenf</a></li>
          <li><a class="white-text" href="#!"><i class="fa fa-envelope" aria-hidden="true"></i><a class="white-text" href="mailto:scti@uenf.br">scti@uenf.br</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <img class="footer-img" src="imgs/logo.png">
        <img class="footer-img" src="imgs/semanaacademica.png">
      </div>

   </div>
  </div>
</footer>
