<nav class="scti-blue" role="navigation" ng-controller="headerCtrl">
  <div class="nav-wrapper container"><a id="logo-container" class="brand-logo" href="#"><img class="logo-img" src="imgs/logo.png"></a>
    <ul class="right hide-on-med-and-down">
      <li><a class="modal-trigger" ng-click="openModal()" ng-hide="user">Login</a></li>
      <li><a ng-click="logout()" ng-show="user">Logout</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#modal2" ng-hide="user">Login</a></li>
      <li><a ng-click="logout()" ng-show="user">Login</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>