<nav class="scti-blue" role="navigation" ng-controller="headerCtrl">
  <div class="nav-wrapper container"><a id="logo-container" class="brand-logo" href="/"><img class="logo-img" src="imgs/logo.png"></a>
    <ul class="right hide-on-med-and-down">
      <li><a class="modal-trigger" href="/">Home</a></li>
      <li><a class="modal-trigger" href="/schedule">Programação</a></li>
      <li><a class="modal-trigger" href="/gifts">Benefícios e Sorteios</a></li>
      <li><a class="modal-trigger ng-cloak dropdown-button" data-beloworigin="true" data-activates='dropdown1' href="#" ng-show="user">Olá, {{user.name.split(" ")[0]}} &#9662;</a></li>
      <ul id='dropdown1' class='dropdown-content'>
        <li><a class="scti-blue-text" href="/user">Status da Inscrição</a></li>
        <li><a class="scti-blue-text" href="/editAccount">Editar cadastro</a></li>
        <li><a class="scti-blue-text ng-cloak" ng-hide="user.isIff || !user.hasPayed" href="/tshirt">Escolha sua camisa</a></li>
        <li class="divider"></li>
        <li><a class="scti-blue-text" ng-click="logout()">Logout</a></li>
      </ul>
      <li><a class="modal-trigger ng-cloak" ng-click="openModal()" ng-hide="user">Login</a></li>
      
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a ng-click="closeSideNav()" href="/">Home</a></li>
      <li><a class="ng-cloak" ng-click="closeSideNav()" href="/schedule">Programação</a></li>
      <li><a class="ng-cloak" ng-click="closeSideNav()" href="/gifts">Benefícios e Sorteios</a></li>
      <li><a class="ng-cloak" ng-click="closeSideNav()" href="/user" ng-show="user">{{user.name.split(" ")[0]}}</a></li>
      <li><a class="ng-cloak" ng-click="closeSideNav()" ng-hide="user.isIff || !user.hasPayed" href="/tshirt" ng-show="user">Escolha sua camisa</a></li>
      <li><a class="ng-cloak" ng-click="closeSideNav()" href="/editAccount" ng-show="user">Editar cadastro</a></li>
      <li><a class="ng-cloak" ng-click="openModal(); closeSideNav()" ng-hide="user">Login</a></li>
      <li><a class="ng-cloak" ng-click="logout(); closeSideNav()" ng-show="user">Logout</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
<div class="row center">
  <% include loginModal %>
</div>
