<div id="modal2" class="modal subscription-modal" ng-controller="loginCtrl">
  <div class="container center section no-pad-bot" ng-show="loading">
    <img src="imgs/loading.gif">
  </div>
  <div class="modal-content" ng-hide="loading">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix scti-blue-text">email</i>
            <input ng-model="user.email" id="email2" type="email" class="validate" ng-class="{invalid: invalidEmail}" required="" aria-required="true" my-enter="login()">
            <label id="labelEmail2" for="email2" data-error="Conta não registrada!">E-mail</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix scti-blue-text">lock_outline</i>
            <input ng-model="user.password" ng-class="{invalid: invalidPassword}" id="password3" type="password" class="validate" required="" aria-required="true" my-enter="login()">
            <label id="labelPassword3" for="password3" data-error="Senha inválida!">Senha</label>
          </div>
          <div class="input-field col s12">
            <div ng-click="login()" id="loginBtn" type="submit" class="waves-effect waves-light btn scti-blue">Login</div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>