<section id="raffles" ng-show="!showBenefits">


    <div class="row">
      <h3>Livros</h3>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
              <a href="https://www.casadocodigo.com.br/" target="_blank"><img src="imgs/img-card-ebooks.png"></a>
          </div>
          <div class="card-content">
            <span class="card-title">5 e-books da Casa do Código</span>
            <p>Serão realizado 5 sorteios de e-books a escolha do ganhador</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
              <a href="https://novatec.com.br/livros/jogos-mobile-html5" target="_blank"><img src="imgs/img-card-jogoshtml5.png"></a>
          </div>
          <div class="card-content">
            <span class="card-title">Livro da Novatec</span>
            <p>1 sorteio do livro Desenvolvendo jogos mobile com HTML5</p>
          </div>
        </div>
      </div>


    </div>


  <div class="row">
    <h3>Cursos</h3>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
            <a href="https://treinaweb.com.br" target="_blank"><img src="imgs/img-card-treinaweb.png"></a>
        </div>
        <div class="card-content">
          <span class="card-title">10 cursos da TreinaWeb</span>
          <p>Serão realizados 10 sorteios de cursos a escolha do ganhador!</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
            <a href="https://www.4linux.com.br/" target="_blank"><img src="imgs/img-card-4linux.png"></a>
        </div>
        <div class="card-content">
          <span class="card-title">2 certificações da 4linux</span>
          <p>Serão realizado 2 sorteios de certificações a escolha do ganhador</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
            <a href="http://chiefofdesign.com.br" target="_blank"><img src="imgs/img-card-chief.png"></a>
        </div>
        <div class="card-content">
          <span class="card-title">Curso de WebDesign</span>
          <p>1 sorteio de um curso de Web Design do Chief of Design</p>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
      <h3>Brindes e Variados</h3>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
              <a href="https://arqpelago.com.br/" target="_blank"><img src="imgs/img-card-arq.png"></a>
          </div>
          <div class="card-content">
            <span class="card-title">3 mesas de Coworking por 1 semana</span>
            <p>Serão realizados 3 sorteios do plano Ilha Semana do espaço de coworking Arquipélago</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
              <a href="https://arqpelago.com.br/" target="_blank"><img src="imgs/img-card-arq.png"></a>
          </div>
          <div class="card-content">
            <span class="card-title">2 canecas da Arquipélago</span>
            <p>Serão realizado 2 sorteios de canecas da Arquipélago Coworking</p>
          </div>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
              <a href="https://alura.com.br" target="_blank"><img src="imgs/img-card-alura.png"></a>
          </div>
          <div class="card-content">
            <span class="card-title">Camisetas da Alura</span>
            <p>Serão sorteadas camisetas da Alura</p>
          </div>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
              <a href="https://caelum.com.br" target="_blank"><img src="imgs/img-card-caelum.png"></a>
          </div>
          <div class="card-content">
            <span class="card-title">Garrafas da Caelum</span>
            <p>Serão sorteadas garrafas da Caelum</p>
          </div>
        </div>
      </div>


  </div>

</section>
