<div id="modal1" class="modal subscription-modal" ng-controller="signupCtrl">
  <div class="modal-content">
    <h4 class="header center scti-blue-text">Inscrição</h4>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix scti-blue-text">account_circle</i>
            <input ng-model="user.name" id="name" type="text" class="validate">
            <label for="name">Nome Completo</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix scti-blue-text">email</i>
            <input ng-model="user.email" id="email" type="email" class="validate" ng-class="{invalid: invalidEmail}">
            <label for="email" data-error="{{emailError}}">E-mail</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix scti-blue-text">lock_outline</i>
            <input ng-model="user.password" id="password" type="password" class="validate"  ng-class="{invalid: invalidPassword}">
            <label for="password" data-error="Sua senha deve ter no mínimo 5 caracteres">Senha</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix scti-blue-text">https</i>
            <input ng-model="password2" id="password2" type="password" class="validate">
            <label for="password2" data-error="As senhas digitadas precisam ser iguais">Confirmar Senha</label>
          </div>
          <div class="input-field col s12">
            <button ng-click="signup()" type="submit" class="waves-effect waves-light btn btn-large scti-blue">Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>