<section id="talks" ng-show="showTalks">
  <div class="row">
    <div class="col s12 m6 offset-m1">
      <div class="chip" id="coffee-chips">
          <img src="imgs/subway-chips.png" alt="Icone do Coffee Break">
          O coffee break acontece todo dia de 16h as 17h!
        </div>
    </div>
  </div>
  <div class="row">

    <div class="row monday">
      <h3>Segunda-Feira</h3>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-design.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5 class="big-title">Como ser criativo e proativo na era digital</h5>
            <p>Eu sou um cartão muito simples. Eu sou bom para conter pequenas informações. Eu sou conveniente por que eu preciso de muito pouca marcação para ser usado efetivamente.</p>
          </div>
          <div class="card-action">
            <a>Iran Pontes</a><span>14h-15h</span>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-linux.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Análise de Performance Linux</h5>
            <p>Eu sou um cartão muito simples. Eu sou bom para conter pequenas informações. Eu sou conveniente por que eu preciso de muito pouca marcação para ser usado efetivamente.</p>
          </div>
          <div class="card-action">
            <a>Társis Azevedo</a><span>15h-16h</span>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-uenf.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Abertura Oficial da Semana Acadêmica da UENF</h5>
          </div>
          <div class="card-action">
            <span>17h-18h</span>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="row tuesday">
      <h3>Terça-Feira</h3>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-scrum.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5 class="big-title">Metodologia Ágil (SCRUM): Inovação e Satisfação do Cliente</h5>
            <p>Eu sou um cartão muito simples. Eu sou bom para conter pequenas informações. Eu sou conveniente por que eu preciso de muito pouca marcação para ser usado efetivamente.</p>

          </div>
          <div class="card-action">
            <a>Guilherme Vasconcelos</a><span>14h-15h</span>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-mobile.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5 class="big-title">O mercado de trabalho para desenvolvedores de jogos mobile</h5>
            <p>Eu sou um cartão muito simples. Eu sou bom para conter pequenas informações. Eu sou conveniente por que eu preciso de muito pouca marcação para ser usado efetivamente.</p>

          </div>
          <div class="card-action">
            <a>William Trindade</a><span>15h-16h</span>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-bio.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Bioinformática</h5>
            <p>Eu sou um cartão muito simples. Eu sou bom para conter pequenas informações. Eu sou conveniente por que eu preciso de muito pouca marcação para ser usado efetivamente.</p>

          </div>
          <div class="card-action">
            <a>João Luiz</a><span>17h-18h</span>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="row wednsday">
      <h3>Quarta-Feira</h3>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-aguardando.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Aguardando confirmação</h5>
            <p>Eu sou um cartão muito simples. Eu sou bom para conter pequenas informações. Eu sou conveniente por que eu preciso de muito pouca marcação para ser usado efetivamente.</p>

          </div>
          <div class="card-action">
            <a href="#">Sobre o palestrante</a><span>14h-15h</span>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-aguardando.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Aguardando confirmação</h5>
            <p>Eu sou um cartão muito simples. Eu sou bom para conter pequenas informações. Eu sou conveniente por que eu preciso de muito pouca marcação para ser usado efetivamente.</p>

          </div>
          <div class="card-action">
            <a href="#">Sobre o palestrante</a><span>15h-16h</span>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-csf.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Mesa Redonda Ciência Sem Fronteiras</h5>
            <p>Eu sou um cartão muito simples. Eu sou bom para conter pequenas informações.</p>

          </div>
          <div class="card-action">
            <a>Alunos do CSF</a><span>17h-18h</span>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="row thursday">
      <h3>Quinta-Feira</h3>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-impressao3d.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Impressão 3D</h5>
            <p>Eu sou um cartão muito simples. Eu sou bom para conter pequenas informações. Eu sou conveniente por que eu preciso de muito pouca marcação para ser usado efetivamente.</p>

          </div>
          <div class="card-action">
            <a>Bruno Xavier</a><span>14h-15h</span>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-redes.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Redes Ad Hoc veiculares centradas em interesse</h5>
            <p>Eu sou um cartão muito simples. Eu sou bom para conter pequenas informações. Eu sou conveniente por que eu preciso de muito pouca marcação para ser usado efetivamente.</p>

          </div>
          <div class="card-action">
            <a>Fabrício Barros</a><span>15h-16h</span>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-mercado.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>O que o mercado espera dos profissionais de TI</h5>
            <p>Eu sou um cartão muito simples. Eu sou bom para conter pequenas informações. Eu sou conveniente por que eu preciso de muito pouca marcação para ser usado efetivamente.</p>

          </div>
          <div class="card-action">
            <a>Cleber Lopes</a><span>17h-18h</span>
          </div>
        </div>
      </div>
      </div>
    </div>

  </div>
</section>
