<section id="talks" ng-show="showTalks">
  <div class="row">
    <div class="col s12 m6 offset-m1">
      <div class="chip" id="coffee-chips">
          <img src="imgs/subway-chips.png" alt="Icone do Coffee Break">
          Coffee break todos os dias de 16h as 17h!
        </div>
    </div>
  </div>
  <div class="row">

    <div class="row monday">
      <h3>24/10 - Segunda-Feira</h3>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-design.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5 class="big-title">Como ser criativo e proativo na era digital</h5>
            <p>Com o avanço tecnológico atual o mais importante é procurar estar sempre disposto a novos desafios. <span class="mobile-no-show">E para isso é essencial fazer bom uso da criatividade.</span></p>
          </div>

          <div class="card-action">
            <a>Iran Pontes</a><span>14h-15h</span>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-linux.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Análise de Performance Linux</h5>
            <p>Para gerência de um sistema é fundamental acompanhar o desempenho do mesmo. <span class="mobile-no-show">Por meio de informações sobre o seu comportamento, sua utilização e outros dados importantes.</span></p>
          </div>

          <div class="card-action">
            <a>Társis Azevedo</a><span>15h-16h</span>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-uenf.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Abertura Oficial da Semana Acadêmica da UENF</h5>
            <p>Palestra oferecida pela UENF iniciando oficialmente a Semana Acadêmica na Universidade.</p>
          </div>

          <div class="card-action">
            <span>17h-18h</span>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="row tuesday">
      <h3>25/10 - Terça-Feira</h3>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-scrum.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5 class="big-title">Metodologia Ágil (SCRUM): Inovação e Satisfação do Cliente</h5>
            <p>É possível inovar e garantir a satisfação do cliente ao mesmo tempo. <span class="mobile-no-show">As metodologias ágeis são um bom caminho para isso.</span></p>
          </div>

          <div class="card-action">
            <span class="mobile-small-text"><a>Guilherme Vasconcelos</a>14h-15h</span>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-mobile.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5 class="big-title">O mercado de trabalho para desenvolvedores de jogos mobile</h5>
            <p>Com a presença cada vez maior dos smartphones na sociedade. <span class="mobile-no-show">Desenvolver produtos para esses aparelhos se tornou uma ótima opção no mercado de trabalho.</span></p>
          </div>

          <div class="card-action">
            <span class="mobile-small-text"><a>William Trindade</a>15h-16h</span>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-bio.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Bioinformática</h5>
            <p>O uso da tecnologia na análise e modelização de dados obtidos em pesquisas biológicas contribui cada vez mais para o avanço da Ciência.</p>
          </div>

          <div class="card-action">
            <a>João Luiz</a><span>17h-18h</span>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="row wednsday">
      <h3>26/10 - Quarta-Feira</h3>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-node.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Real-time web applications com Node.js e React</h5>
          <p>Práticas, tecnologias e ferramentas usadas em aplicações Real-time.<span class="mobile-no-show"> Abordaremos Node.js, Javascript, Websockets, React, Ruby on Rails e aprenderemos mais sobre o ecossistema atual da Web.</span></p>
          </div>

          <div class="card-action">
            <a>Oswaldo Ferreira</a><span>14h-15h</span>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-aguardando.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Heurísticas para o problema de Locação/Alocação de antenas de transmissão</h5>
            <p>Mais informações em breve!</p>
          </div>

          <div class="card-action">
            <a>Tarcísio Barroso</a><span>15h-16h</span>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-csf.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Mesa Redonda Ciência Sem Fronteiras</h5>
            <p>Alunos de Computação da UENF que já participaram do CsF falam sobre suas experiências. <span class="mobile-no-show">E como a área de tecnologia é abordada em outros países.</span></p>
          </div>

          <div class="card-action">
            <a>Alunos do CSF</a><span>17h-18h</span>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="row thursday">
      <h3>27/10 - Quinta-Feira</h3>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-impressao3d.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Impressão 3D</h5>
            <p><span class="mobile-no-show">Já que existe a terceira dimensão, não temos motivo para limitar nossa imaginacão.</span> Com a impressora 3D é possível imprimir o que quiser!</p>
          </div>

          <div class="card-action">
            <a>Bruno Xavier</a><span>14h-15h</span>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-redes.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Redes Ad Hoc veiculares centradas em interesse</h5>
            <p>Pesquisa <span class="mobile-no-show">sobre redes para ambientes móveis centradas em interesse focada na comunicação,</span> apresentada em congressos e eventos, como na <a href="http://conferences.computer.org/wimob2016/index.html" target="blank_"> WIMOB </a> em Nova York.</p>
          </div>

          <div class="card-action">
            <a>Fabrício Barros</a><span>15h-16h</span>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-mercado.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>O que o mercado espera dos profissionais de TI</h5>
            <p><span class="mobile-no-show">Dentro de qualquer área é importante ficar ligado no que o mercado espera de você. </span>Com a grande abrangência da informática devemos nos informar sobre o que querem de nós!</p>
          </div>

          <div class="card-action">
            <a>Cleber Lopes</a><span>17h-18h</span>
          </div>
        </div>
      </div>
      </div>
    </div>

  </div>
</section>
