<section id="talks" ng-show="showTalks">
  <h2>Palestras</h2>
  <div class="row">

    <div class="row monday">
      <h3>Segunda-Feira</h3>

      <div class="col s12 m4">
        <div class="card horizontal">
        <div class="card-image">
          <img src="http://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Como ser criativo e proativo na era digital.</p>
          </div>
          <div class="card-action">
            <a href="#">Sobre o palestrante</a>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m4">
        <div class="card horizontal">
        <div class="card-image">
          <img src="http://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Análise de performance Linux.</p>
          </div>
          <div class="card-action">
            <a href="#">Sobre o palestrante</a>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m4">
        <div class="card horizontal">
        <div class="card-image">
          <img src="http://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Palestra de abertura.</p>
          </div>
          <div class="card-action">
            <a href="#">Sobre o palestrante</a>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="row tuesday">
      <h3>Terça-Feira</h3>

      <div class="col s12 m4">
        <div class="card horizontal">
        <div class="card-image">
          <img src="http://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Metodologia ágil (SCRUM): Inovação e satisfação do cliente.</p>
          </div>
          <div class="card-action">
            <a href="#">Sobre o palestrante</a>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m4">
        <div class="card horizontal">
        <div class="card-image">
          <img src="http://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>O mercado de trabalho para desenvolvedores de jogos mobile.</p>
          </div>
          <div class="card-action">
            <a href="#">Sobre o palestrante</a>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m4">
        <div class="card horizontal">
        <div class="card-image">
          <img src="http://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Bioinformática.</p>
          </div>
          <div class="card-action">
            <a href="#">Sobre o palestrante</a>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="row wednsday">
      <h3>Quarta-Feira</h3>

      <div class="col s12 m4">
        <div class="card horizontal">
        <div class="card-image">
          <img src="http://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Palestra 6</p>
          </div>
          <div class="card-action">
            <a href="#">Sobre o palestrante</a>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m4">
        <div class="card horizontal">
        <div class="card-image">
          <img src="http://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Palestra 7.</p>
          </div>
          <div class="card-action">
            <a href="#">Sobre o palestrante</a>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m4">
        <div class="card horizontal">
        <div class="card-image">
          <img src="http://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Mesa redonda Ciência sem fronteiras.</p>
          </div>
          <div class="card-action">
            <a href="#">Sobre o palestrante</a>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="row thursday">
      <h3>Quinta-Feira</h3>

      <div class="col s12 m4">
        <div class="card horizontal">
        <div class="card-image">
          <img src="http://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Impressão 3D.</p>
          </div>
          <div class="card-action">
            <a href="#">Sobre o palestrante</a>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m4">
        <div class="card horizontal">
        <div class="card-image">
          <img src="http://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Redes ad hoc veiculares centradas em interesses.</p>
          </div>
          <div class="card-action">
            <a href="#">Sobre o palestrante</a>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m4">
        <div class="card horizontal">
        <div class="card-image">
          <img src="http://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>O que o mercado de trabalho espera dos profissionais de TI?</p>
          </div>
          <div class="card-action">
            <a href="#">Sobre o palestrante</a>
          </div>
        </div>
      </div>
      </div>
    </div>

  </div>
</section>
