<section id="talks" ng-show="showTalks">
  <div class="row">
    <div class="col s12 m6 offset-m1">
      <div class="chip" id="coffee-chips">
        <img src="imgs/subway-chips.png" alt="Icone do Coffee Break" />
        Coffee break todos os dias de 15:30h as 16h!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row monday">
      <h3>06/11 - Segunda-Feira</h3>
      <div class="col s12 m6">
        <div class="card horizontal">
          <div class="card-image">
            <img src="imgs/img-card-uenf.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h5 class="big-title">Infra ágil em prol de uma Cultura DevOps</h5>
              <p>(Descrição em breve)</p>
            </div>

            <div class="card-action">
              <a>Alisson Menezes</a><span>14h-15:30h</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-uenf.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Mesa Redonda: Como as organizações estudantis podem mudar o seu futuro profissional</h5>
            <p>As empresas Juniores da UENF, Engloba e Soul Code, junto com a Enactus e a representante da Rio Junior em Campos, desejam levar até todos os congressistas um pouco mais sobre o mundo empreendedor. Esse é o momento de tirar todas as dúvidas que sempre teve sobre o movimento MEJ. </p>
          </div>

          <div class="card-action">
            <a>MEJ/ENACTUS</a><span>16h-18h</span>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="row tuesday">
      <h3>07/11 - Terça-Feira</h3>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-uenf.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5 class="big-title">Mesa redonda: Por que é importante fomentar a participação da mulher no meio tecnológico?</h5>
            <p>(Descrição em breve)</p>
          </div>

          <div class="card-action">
            <span class="mobile-small-text">16h-18h</span>
          </div>
        </div>
      </div>
      </div>

      <!-- <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-uenf.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5 class="big-title">O mercado de trabalho para desenvolvedores de jogos mobile</h5>
            <p>Com a presença cada vez maior dos smartphones na sociedade. <span class="mobile-no-show">Desenvolver produtos para esses aparelhos se tornou uma ótima opção no mercado de trabalho.</span></p>
          </div>

          <div class="card-action">
            <span class="mobile-small-text"><a>William Trindade</a>15h-16h</span>
          </div>
        </div>
      </div>
      </div> -->

      <!-- <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-uenf.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Introdução a bioinformática para computação </h5>
            <p>O uso da tecnologia na análise e modelização de dados obtidos em pesquisas biológicas contribui cada vez mais para o avanço da Ciência.</p>
          </div>

          <div class="card-action">
            <a>João Luiz</a><span>17h-18h</span>
          </div>
        </div>
      </div>
      </div> -->
    </div>

    <div class="row wednsday">
      <h3>08/11 - Quarta-Feira</h3>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-uenf.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Mercado de aplicativos</h5>
            <p>O objetivo da presente palestra é apresentar e discutir o mercado de aplicativos. Como iniciar um negócio, startups mais famosas e como surgiu o aplicativo Garçom.</p>
          </div>

          <div class="card-action">
            <a>Raphael Gomes</a><span>14h-15:30h</span>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-uenf.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Impressão 3D</h5>
            <p>Hardware, Software e Aplicações</p>
          </div>

          <div class="card-action">
            <a>Luiz Henrique Zeferino</a><span>16h-18h</span>
          </div>
        </div>
      </div>
      </div>

      <!-- <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-uenf.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Mesa Redonda Ciência Sem Fronteiras</h5>
            <p>Alunos de Computação da UENF que já participaram do CsF falam sobre suas experiências. <span class="mobile-no-show">E como a área de tecnologia é abordada em outros países.</span></p>
          </div>

          <div class="card-action">
            <a>Alunos do CSF</a><span>17h-18h</span>
          </div>
        </div>
      </div>
      </div> -->
    </div>

    <div class="row thursday">
      <h3>09/11 - Quinta-Feira</h3>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-uenf.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Redes Neurais: a terceira lei de Clarke</h5>
            <p>Um breve tour pela história das redes neurais artificiais e o fenômeno atual conhecido como Deep Learning.</p>
          </div>

          <div class="card-action">
            <a>Victor Villas</a><span>14h-15:30h</span>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-uenf.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Valves: Ferramentas para Validação e Verificação de Sistemas Embarcados</h5>
            <p>(Descrição em breve)</p>
          </div>

          <div class="card-action">
            <a>Rogerio Atem</a><span>16h-18h</span>
          </div>
        </div>
      </div>
      </div>

      <!-- <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-uenf.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Redes Ad Hoc veiculares centradas em interesse</h5>
            <p>Pesquisa <span class="mobile-no-show">sobre redes para ambientes móveis centradas em interesse focada na comunicação,</span> apresentada em congressos e eventos, como na <a href="http://conferences.computer.org/wimob2016/index.html" target="blank_"> WIMOB </a> em Nova York.</p>
          </div>

          <div class="card-action">
            <a>Fabrício Barros</a><span>17h-18h</span>
          </div>
        </div>
      </div>
      </div> -->
    </div>

    <div class="row thursday">
      <h3>10/11 - Sexta-Feira</h3>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-uenf.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>I want to break free</h5>
            <p>Descrição: Estamos na era da tecnologia, mas, é realmente sobre tecnologia tudo que estamos fazendo? Essa palestra vai te convidar a refletir sobre o fantástico mundo novo: a "Era pós tecnologia". O que está por vir? E como um profissional de TI pode se preparar para essa "nova Era"?</p>
          </div>

          <div class="card-action">
            <a>Julyane Miranda</a><span>14h-15:30h</span>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-uenf.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>O elo mais fraco da cybersegurança</h5>
            <p>(Descrição em breve)</p>
          </div>

          <div class="card-action">
            <a>Luiz Dias</a><span>16h-18h</span>
          </div>
        </div>
      </div>
      </div>
    </div>

  </div>
</section>
