<section id="workshops" ng-show="!showTalks">
  <div class="row">
    <div class="col s12 m6 offset-m7">
      <div class="chip" id="coffee-chips">
          Temos um intervalo todos os dias de 10h a 10h30!
        </div>
    </div>
  </div>
  <div class="row">

    <div class="row monday">
      <h3>Segunda-Feira</h3>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-design.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Ilustração em 2D no ilustrador.</h5>
          </div>
          <div class="card-action">
            <a>Iran Pontes</a><span>8h00-12h30</span>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-machine.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Utilização de técnicas de aprendizado de máquina com o software Weka.</h5>
          </div>
          <div class="card-action">
            <a>Leonard Barreto</a><span>8h00-12h30</span>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="row tuesday">
      <h3>Terça-Feira</h3>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-mobile.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Desenvolvimento de jogos com Corona SDK e LUA.</h5>
          </div>
          <div class="card-action">
            <a>William Trindade</a><span>8h00-10h00</span>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
          <div class="card-image">
            <img src="imgs/img-card-scrum.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h5>Introdução a Gestão ágil de projetos.</h5>
            </div>
            <div class="card-action">
              <a>Guilherme Vasconcelos</a><span>8h00-10h00</span>
            </div>
          </div>
        </div>
        </div>
      </div>

    <div class="row wednsday">
      <h3>Quarta-Feira</h3>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-aguardando.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Aguardando confirmação</h5>
          </div>
          <div class="card-action">
            <a></a>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-aguardando.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Aguardando confirmação</h5>
          </div>
          <div class="card-action">
            <a></a>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="row thursday">
      <h3>Quinta-Feira</h3>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-impressao3d.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Arduino</h5>
          </div>
          <div class="card-action">
            <a>Bruno Xavier</a><span>8h00-10h00</span>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-mercado.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Desenvolvimento aplicações web com ASP.NET MVC e Entity Framework.</h5>
          </div>
          <div class="card-action">
            <a>Cleber Lopes</a><span>8h00-10h00</span>
          </div>
        </div>
      </div>
      </div>
    </div>

  </div>
</section>
