<section id="workshops" ng-show="!showTalks">
  <div class="row">
    <div class="col s12 m6 offset-m7">
      <div class="chip" id="coffee-chips">
          Temos um intervalo todos os dias de 10h a 10h30!
        </div>
    </div>
  </div>
  <div class="row">

    <div class="row monday">
      <h3>24/10 - Segunda-Feira</h3>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-design.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Ilustração em 2D no illustrator.</h5>
            <p>O illustrator é cheio de recursos e muito poderoso, capaz de entregar resultados com acabamento impecável para ilustrações e projetos. O aplicativo é muito estável e o melhor nas aplicações de desenho.</p>
          </div>
          <div class="card-action">
            <a>Iran Pontes</a><span>8h00-12h30</span>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-machine.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Utilização de técnicas de aprendizado de máquina com o software Weka.</h5>
            <p>O Weka busca agregar algoritmos provenientes de diferentes abordagens da inteligência artificial dedicada ao estudo de aprendizagem de máquina.</p>
          </div>
          <div class="card-action">
            <a>Leonard Barreto</a><span>8h00-12h30</span>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="row tuesday">
      <h3>25/10 - Terça-Feira</h3>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-mobile.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Desenvolvimento de jogos com Corona SDK e LUA.</h5>
              <p>Corona SDK é uma plataforma perfeita para desenvolvedores para dispositivos móveis. LUA é uma linguagem projetada para rápida e fácil programação.</p>
          </div>
          <div class="card-action">
            <a>William Trindade</a><span>8h00-10h00</span>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
          <div class="card-image">
            <img src="imgs/img-card-scrum.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h5>Introdução a Gestão ágil de projetos.</h5>
              <p>Uma maneira de se desenvolver e gerenciar novos trabalhos e projetos, ideal para empresas e startups que precisam aumentar a eficiência na gerência de projetos, otimizando seus recursos.</p>
            </div>
            <div class="card-action">
              <a>Guilherme Vasconcelos</a><span>8h00-10h00</span>
            </div>
          </div>
        </div>
        </div>
      </div>

    <div class="row wednsday">
      <h3>26/10 - Quarta-Feira</h3>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-aguardando.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Aguardando confirmação</h5>
            <p><br><br>Mais informações em breve!</p>
          </div>
          <div class="card-action">
            <a></a>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-aguardando.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Aguardando confirmação</h5>
            <p><br><br>Mais informações em breve!</p>
          </div>
          <div class="card-action">
            <a></a>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="row thursday">
      <h3>27/10 - Quinta-Feira</h3>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-impressao3d.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Arduino</h5>
            <p>O Arduino facilita a prototipagem na automatização de projetos e a criação de aparelhos eletrônicos. É uma plataforma de desenvolvimento composta pelo Hardware e uma IDE onde você pode escrever seu código.</p>
          </div>
          <div class="card-action">
            <a>Bruno Xavier</a><span>8h00-10h00</span>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-mercado.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Desenvolvimento aplicações web com ASP.NET MVC e Entity Framework.</h5>
            <p>O framework ASP.NET MVC amplia as possibilidades para o desenvolvimento Web. O Entity faz o mapeamento objeto relacional gerando entidades para as tabelas do BD.</p>
          </div>
          <div class="card-action">
            <a>Cleber Lopes</a><span>8h00-10h00</span>
          </div>
        </div>
      </div>
      </div>
    </div>

  </div>
</section>
