<section id="workshops" ng-show="!showTalks">
  <div class="row">
    <div class="col s12 m12 l6 offset-l3">
      <div class="chip" id="coffee-chips">
        Temos um intervalo todos os dias de 10h a 10h30!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row monday">
      <h3>06/11 - Segunda-Feira</h3>
      <div class="col s12 m12 l6 offset-l3">
        <div class="card horizontal">
          <div class="card-image">
            <img src="imgs/img-card-marketing.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h5>Wordpress</h5>
              <p>(Descrição em breve)</p>
            </div>
            <div class="card-action">
              <span class="mobile-small-text"><a>Soul Code</a>8h00-12h00</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row tuesday">
      <h3>07/11 - Terça-Feira</h3>

      <div class="col s12 m12 l6 offset-l3">
        <div class="card horizontal">
          <div class="card-image">
            <img src="imgs/img-card-mobile.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h5>React</h5>
              <p>(Descrição em breve)</p>
            </div>
            <div class="card-action">
              <span class="mobile-small-text"><a>Rodolfo Peixoto</a>8h00-12h00</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row wednsday">
      <h3>08/11 - Quarta-Feira</h3>

      <div class="col s12 m12 l6 offset-l3">
        <div class="card horizontal">
          <div class="card-image">
            <img src="imgs/img-card-inovacao.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h5>Android</h5>
              <p>(Descrição em breve)</p>
            </div>
            <div class="card-action">
                <span class="mobile-small-text"><a>Rodolfo Peixoto</a>8h00-12h00</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row thursday">
      <h3>09/11 - Quinta-Feira</h3>

      <div class="col s12 m12 l6 offset-l3">
        <div class="card horizontal">
          <div class="card-image">
            <img src="imgs/img-card-ux.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h5>Programação em Raspberry Pi</h5>
              <p><span class="mobile-no-show">(Descrição em breve)</span></p>
            </div>
            <div class="card-action">
              <span class="mobile-small-text"><a>Marcos Rangel</a>8h00-12h00</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row friday">
      <h3>10/11 - Sexta-Feira</h3>

      <div class="col s12 m12 l6 offset-l3">
        <div class="card horizontal">
          <div class="card-image">
            <img src="imgs/img-card-ux.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h5>Microsoft Baseline Security Analyzes</h5>
              <p><span class="mobile-no-show">(Descrição em breve)</span></p>
            </div>
            <div class="card-action">
              <span class="mobile-small-text"><a>Luiz Dias</a>8h00-12h00</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
