<section id="workshops" ng-show="!showTalks">
  <div class="row">

    <div class="row monday">
      <h3>Segunda-Feira</h3>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="http://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Ilustração em 2D no ilustrador.</p>
          </div>
          <div class="card-action">
            <a href="#">Sobre o ministrante</a>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="http://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Utilização de técnicas de aprendizado de máquina com o software Weka.</p>
          </div>
          <div class="card-action">
            <a href="#">Sobre o ministrante</a>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="row tuesday">
      <h3>Terça-Feira</h3>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="http://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Desenvolvimento de jogos com Corona SDK e LUA.</p>
          </div>
          <div class="card-action">
            <a href="#">Sobre o ministrante</a>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
          <div class="card-image">
            <img src="http://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>Introdução a Gestão ágil de projetos.</p>
            </div>
            <div class="card-action">
              <a href="#">Sobre o ministrante</a>
            </div>
          </div>
        </div>
        </div>
      </div>

    <div class="row wednsday">
      <h3>Quarta-Feira</h3>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="http://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Minicurso 5</p>
          </div>
          <div class="card-action">
            <a href="#">Sobre o ministrante</a>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="http://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Minicurso 6</p>
          </div>
          <div class="card-action">
            <a href="#">Sobre o ministrante</a>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="row thursday">
      <h3>Quinta-Feira</h3>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="http://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Arduino.</p>
          </div>
          <div class="card-action">
            <a href="#">Sobre o ministrante</a>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="http://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Desenvolvimento aplicações web com ASP.NET MVC e Entity Framework.</p>
          </div>
          <div class="card-action">
            <a href="#">Sobre o ministrante</a>
          </div>
        </div>
      </div>
      </div>
    </div>

  </div>
</section>
