<section id="workshops" ng-show="!showTalks">
  <div class="row">
    <div class="col s12 m6 offset-m7">
      <div class="chip" id="coffee-chips">
          Temos um intervalo todos os dias de 10h a 10h30!
        </div>
    </div>
  </div>
  <div class="row">

    <div class="row monday">
      <h3>24/10 - Segunda-Feira</h3>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-marketing.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Gestão de Mídias Sociais e Facebook Marketing</h5>
            <p>Assuntos voltados para produção de conteúdo para mídias digitais, assim como explorar as ferramentas profissionais do Facebook para divulgação de marcas e fidelização de clientes.</p>
          </div>
          <div class="card-action">
            <span class="mobile-small-text"><a>Iran Pontes</a>8h00-12h30</span>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-machine.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Utilização de técnicas de aprendizado de máquina com o software Weka</h5>
            <p>O Weka agrega algoritmos de diferentes abordagens de inteligência artificial no campo de aprendizagem de máquina.</p>
          </div>
          <div class="card-action">
            <span class="mobile-small-text"><a>Leonard Barreto</a>8h00-12h30</span>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="row tuesday">
      <h3>25/10 - Terça-Feira</h3>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-mobile.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Desenvolvimento de jogos com Corona SDK e LUA</h5>
              <p>Corona SDK é uma plataforma para dispositivos móveis. LUA é uma linguagem projetada para rápida e fácil programação.</p>
          </div>
          <div class="card-action">
            <span class="mobile-small-text"><a>William Trindade</a>8h00-12h30</span>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-arduino1.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Introdução ao Arduino</h5>
            <p>O Arduino facilita a prototipagem na automatização de projetos e a criação de aparelhos eletrônicos. <span class="mobile-no-show">É uma plataforma de desenvolvimento composta pelo Hardware e uma IDE onde você pode escrever seu código.</span></p></p>
          </div>
          <div class="card-action">
              <span class="mobile-small-text"><a>Társis Stelet</a>8h00-10h00</span>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-git.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Técnicas Intermediárias de Git</h5>
              <p>Pra quem já é acostumado ao básico do mundo Git, esse minicurso é voltado a conceitos e comandos menos utilizados (e muitas vezes temidos) dessa importante ferramenta. </p>
          </div>
          <div class="card-action">
            <span class="mobile-small-text"><a>Rafael Ghossi</a>8h00-10h00</span>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
          <div class="card-image">
            <img src="imgs/img-card-scrum.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h5>Introdução a Gestão Ágil de Projetos</h5>
              <p>Ideal para empresas e startups que precisam aumentar a eficiência na gerência de projetos<span class="mobile-no-show">, otimizando seus recursos</span>.</p>
            </div>
            <div class="card-action">
              <span class="mobile-small-text"><a>Guilherme Vasconcelos</a>10h30-12h30</span>
            </div>
          </div>
        </div>
        </div>
      </div>

    <div class="row wednsday">
      <h3>26/10 - Quarta-Feira</h3>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-inovacao.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Criando Negócios Inovadores</h5>
            <p>Fabrício é CTO da Me Passa Aí, uma das 100 startups mais atraentes para investidores em 2016, e especialista em desenvolvimento de startups de software.</p>
          </div>
          <div class="card-action">
              <span class="mobile-small-text"><a>Francisco Gonçalves</a>10h30-12h30</span>
          </div>
        </div>
      </div>
      </div>


      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-arduino2.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Arduino Além do Básico</h5>
            <p>Plataforma de desenvolvimento de hardware e software OPEN-SOURCE. Vamos aprofundar na programação do Arduino e suas aplicações.</p>
          </div>
          <div class="card-action">
              <span class="mobile-small-text"><a>Fermín Tang</a>8h00-12h30</span>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="row thursday">
      <h3>27/10 - Quinta-Feira</h3>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-ux.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Testes de Usabilidade com Usuários</h5>
            <p><span class="mobile-no-show">Cada vez mais a usabilidade se mostra essencial para criação de bons softwares.</span> Aprenda a fazer testes de maneira barata e fácil!</p>
          </div>
          <div class="card-action">
            <span class="mobile-small-text"><a>Pedro Perrone</a>8h00-10h00</span>
          </div>
        </div>
      </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
        <div class="card-image">
          <img src="imgs/img-card-ruby.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>Rails Além do Básico</h5>
            <p>Temas que normalmente não estão nas primeiras apresentações de Rails, como nested models, rails engines,lazy loading e o problema das n+1 queries, autorização, módulos, metaprogramação e outros, com um enfoque prático.</p>
          </div>
          <div class="card-action">
              <span class="mobile-small-text"><a>Rodrigo Manhães</a>8h30-12h30</span>
          </div>
        </div>
      </div>
      </div>

  </div>
</section>
