<section id="workshops" ng-show="!showTalks">
  <h2>Minicursos</h2>
  <div class="row">
    <div class="col s12 m3 monday">
      <h3>Segunda-Feira</h3>
      Teste
    </div>
    <div class="col s12 m3 tuesday">
      <h3>Terça-Feira</h3>
      Teste
    </div>
    <div class="col s12 m3 wednsday">
      <h3>Quarta-Feira</h3>
      Teste
    </div>
    <div class="col s12 m3 thursday">
      <h3>Quinta-Feira</h3>
      Teste
    </div>
  </div>
</section>
