<section id="workshops" ng-show="!showTalks">
  <div class="row">
    <div class="col s12 m12 l6 offset-l3">
      <div class="chip" id="coffee-chips">
        Temos um intervalo todos os dias de 10h a 10h30!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row monday">
      <h3>06/11 - Segunda-Feira</h3>
      <div class="col s12 m6">
        <div class="card horizontal">
          <div class="card-image">
            <img src="imgs/img-card-uenf.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h5>Wordpress</h5>
              <p>Wordpress é um sistema de gerenciamento de conteudos (CMS) para WEB, escrito em PHP com banco de dados MySQL. Atualmente está presente em 25% de todos os sites na internet. Ao término desde curso, o participante será capaz de desenvolver sites e blogs com conteúdos totalmente dinâmicos, trabalhar e prosseguir com os estudos dessa maravilhosa tecnologia.</p>
            </div>
            <div class="card-action">
              <span class="mobile-small-text"><a>Soul Code</a>8h00-12h00</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card horizontal">
          <div class="card-image">
            <img src="imgs/img-card-uenf.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h5>Desenvolvimento de aplicações web e PWAs</h5>
              <p>(Descrição em breve)</p>
            </div>
            <div class="card-action">
              <span class="mobile-small-text"><a>Leonardo Maia</a>8h00-12h00</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row tuesday">
      <h3>07/11 - Terça-Feira</h3>

      <div class="col s12 m6">
        <div class="card horizontal">
          <div class="card-image">
            <img src="imgs/img-card-uenf.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h5>React Native</h5>
              <p>React Native é um framework para desenvolvimento de Aplicativos Nativos com Javascript. A Tecnologia é utilizada por grandes empresas como Airbnb, Facebook, Instagram, Sound Cloud. Seu grande diferencial é o desenvolvimento híbrido para Android e IOS, de maneira prática e produtiva. Se você é familiarizado com o desenvolvimento web sendo as tecnologias HTML, CSS3 e Javascript, você terá facilidade em desenvolver, após aprender alguns conceitos do ECMASCRIPT e do React.</p>
            </div>
            <div class="card-action">
              <span class="mobile-small-text"><a>Rodolfo Peixoto</a>8h00-12h00</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card horizontal">
          <div class="card-image">
            <img src="imgs/img-card-uenf.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h5>Search Engine Optimization (SEO)</h5>
              <p>(Descrição em breve)</p>
            </div>
            <div class="card-action">
              <span class="mobile-small-text"><a>Carlos Henrique Pereira</a>8h00-12h00</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row wednsday">
      <h3>08/11 - Quarta-Feira</h3>

      <div class="col s12 m6">
        <div class="card horizontal">
          <div class="card-image">
            <img src="imgs/img-card-uenf.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h5>Android</h5>
              <p>O Android é um sistema operacional para dispositivos móveis produzido pela Google e baseado em Linux. O sistema operacional domina 90% do mercado nacional e o profissional é muito requisitado pelas empresas de TI. No minicurso vamos criar um projeto real do zero.</p>
            </div>
            <div class="card-action">
                <span class="mobile-small-text"><a>Rodolfo Peixoto</a>8h00-12h00</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card horizontal">
          <div class="card-image">
            <img src="imgs/img-card-uenf.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h5>Arduíno: do zero ao jogo</h5>
              <p>Serão abordados conceitos desde o básico sobre arduíno e colocaremos em prática o desenvolvimento do jogo genius.</p>
            </div>
            <div class="card-action">
                <span class="mobile-small-text"><a>Isabela e Gabriela</a>8h00-12h00</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row thursday">
      <h3>09/11 - Quinta-Feira</h3>

      <div class="col s12 m6">
        <div class="card horizontal">
          <div class="card-image">
            <img src="imgs/img-card-uenf.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h5>Programação em Raspberry Pi</h5>
              <p><span class="mobile-no-show">(Descrição em breve)</span></p>
            </div>
            <div class="card-action">
              <span class="mobile-small-text"><a>Marcos Rangel</a>8h00-12h00</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="card horizontal">
          <div class="card-image">
            <img src="imgs/img-card-uenf.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h5>Processing</h5>
              <p><span class="mobile-no-show">Introdução ao Processing, uma linguagem de programação e uma IDE criada com o intuito de aprender programação dentro do contexto das artes visuais.</span></p>
            </div>
            <div class="card-action">
              <span class="mobile-small-text"><a>Ian Louzada</a>8h00-12h00</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row friday">
      <h3>10/11 - Sexta-Feira</h3>

      <div class="col s12 m6">
        <div class="card horizontal">
          <div class="card-image">
            <img src="imgs/img-card-uenf.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h5>AWS Cloud Formation</h5>
              <p><span class="mobile-no-show">(Descrição em breve)</span></p>
            </div>
            <div class="card-action">
              <span class="mobile-small-text"><a>Victor Villas</a>8h00-10h00</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card horizontal">
          <div class="card-image">
            <img src="imgs/img-card-uenf.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h5>Microsoft Baseline Security Analyzes</h5>
              <p><span class="mobile-no-show">(Descrição em breve)</span></p>
            </div>
            <div class="card-action">
              <span class="mobile-small-text"><a>Luiz Dias</a>10h30-12h00</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card horizontal">
          <div class="card-image">
            <img src="imgs/img-card-uenf.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h5>Banco de Dados: uma abordagem prática</h5>
              <p><span class="mobile-no-show">Este minicurso abordará a prática com banco de dados com foco nos principais conceitos e necessidades no mercado de trabalho, de modo que o participante seja introduzido às linguagens SQL e PL/SQL. Ao término deste minicurso o participante estará apto a trabalhar com bancos de dados realizando não só simples consultas mas também criando funções, procedimentos e triggers para automatizar tarefas e tratar os dados de forma correta.</span></p>
            </div>
            <div class="card-action">
              <span class="mobile-small-text"><a>Silas Guimarães</a>8h00-12h00</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
