<div class="container center section no-pad-bot" ng-show="loading">
  <img src="imgs/loading.gif">
</div>
<div ng-hide="loading">
  <h4 class="header center scti-blue-text">Digite seu e-mail</h4>
  <p class="center"></p>
  <form>
    <div class="file-field input-field">
      <div class="row">
        <div class="input-field col s12 m4 offset-m4">
           <input ng-enter="sendEmail()" ng-model="email" id="email2" type="email" class="validate" required="" aria-required="true">
          <label id="labelEmail2" for="email2" data-error="Email não encontrado!">E-mail</label>
        </div>
      </div>
      <button ng-click="sendEmail()" class="btn waves-effect waves-light btn-large scti-blue modal-trigger center">
        Enviar
      </button>
    </div>
  </form>
</div>
