<h4 class="header center scti-blue-text">Digite seu e-mail</h4>
<p class="center"></p>
<form ng-submit="lostPassword()">
  <div class="file-field input-field">
    <div class="row">
      <div class="input-field col s12 m4 offset-m4">
         <input ng-model="user.email" id="email2" type="email" class="validate" ng-class="{invalid: invalidEmail}" required="" aria-required="true">
        <label id="labelEmail2" for="email2" data-error="Conta não registrada!">E-mail</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light btn-large scti-blue modal-trigger center">
      Enviar
    </button>
  </div>
</form>
