<div class="container center section no-pad-bot" ng-show="loading">
  <img src="imgs/loading.gif">
</div>
<div ng-hide="loading">
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="home-h1 header center scti-blue-text">7ª Semana de Ciência da Computação e Tecnologia da Informação</h1>
      <h4 class="home-h5 header center scti-blue-text">23 a 27 de outubro no Centro de Convenções da UENF </h4>
      <div class="row center">
        <h5 class="header col s12 light">Como ser um bom profissional na área de TI?</h5>
      </div>
<!--       <div class="row center">
        <a class="waves-effect waves-light btn btn-large scti-blue modal-trigger" ng-click="openModal()">Inscreva-se</a>
        <% include partials/signupModal %>
      </div> -->
      <div class="row center">
        <h5 class="header col s12 bold">As inscrições serão abertas em breve</h5>
      </div>
      <br><br>
    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><img class="text-icon" src="imgs/mic-icon.png"></h2>
            <h5 class="center">Palestras</h5>

            <p class="light" align="justify">As palestras são uma ótima oportunidade de aprendizado com vários profissionais de diversas áreas apresentando temas super atuais no mercado de trabalho. Você não pode ficar de fora!!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><img class="text-icon" src="imgs/workshop.png"></h2>
            <h5 class="center">Minicursos</h5>

            <p class="light" align="justify">Os minicursos são uma ótima maneira de introduzir técnicas, ferramentas e boas práticas que podem ser essenciais para sua carreira na área de computação. Quer aprender rápido e com uma visão geral do assunto? Então vem!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><img class="text-icon" src="imgs/networking.png"></h2>
            <h5 class="center">Networking</h5>

            <p class="light" align="justify">Um dos pontos altos do evento é a possibilidade de conhecer gente nova da área da informática e afins, em busca de aprendizado, oportunidades e de compartilhar boas histórias. Queremos te conhecer :D </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><img class="text-icon" src="imgs/coffeebreak.png"></h2>
            <h5 class="center">Coffee Break</h5>

            <p class="light" align="justify">Não precisa ficar com fome durante a SCTI. A gente dá uma pausa, faz uma boquinha, bate um papo e volta com todo gás para mais uma carga de conhecimento. Além disso, a gente capricha nos petiscos!!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><img class="text-icon" src="imgs/raffle.png"></h2>
            <h5 class="center">Sorteios</h5>

            <p class="light" align="justify">Durante o evento vários livros, brindes, cursos, cupons de desconto e muitas outras coisas bacanas são sorteadas para os participantes presentes. Então, participe todos os dias do evento para não perder nenhuma chance. Cada dia será uma nova surpresa! </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><img class="text-icon" src="imgs/gift.png"></h2>
            <h5 class="center">Brindes</h5>

            <p class="light" align="justify">Se inscrevendo agora você garante os brindes que a comissão do evento oferece aos participantes. Não perca tempo, você não vai querer perder nossos brindes exclusivos!</p>
          </div>
        </div>
      </div>

    </div>
  </div>

    <br><br>
    <div class="section">
    </div>

  <div class="row">
    <div class="col s12 m8 offset-m1">
      <div class="row">
        <div class="col s12 m1 offset-m3">
            <img class="text-icon center" alt="icone de uma medalha de bronze" src="imgs/copper.png">
          </div>
          <div class="col s12 m4">
            <h6 class="sponsorship-header">Patrocínio Bronze:</h6>
          </div>
      </div>
      <div class="row">
        <div class="col s12 m3">
          <a href="http://allanisnetworks.com/" target="_blank"><img class="copper-sponsor center" src="imgs/allanis.png"></a>
        </div>
        <div class="col s12 m3 offset-m1">
          <a href="http://soulcodejr.com/" target="_blank"><img class="copper-sponsor center" src="imgs/soulcode.png"></a>
        </div>
        <div class="col s12 m3 offset-m1">
          <a href="http://treinaweb.com.br/" target="_blank"><img class="copper-sponsor center" src="imgs/treinaweb.svg"></a>
        </div>
      </div>
      <div class="row support">
        <div class="col s12 m1 offset-m3">
            <img class="text-icon center" alt="icone de uma boia salva-vidas" src="imgs/support.png">
          </div>
          <div class="col s12 m4">
            <h6 class="sponsorship-header">Apoio:</h6>
          </div>
      </div>

      <div class="row">
        <div class="col s12 m4">
          <a href="https://www.caelum.com.br" target="_blank"><img class="supporter center" src="imgs/caelum-logo.svg"></a>
        </div>
        <div class="col s12 m4">
          <a href="http://www.subway.com/pt-BR" target="_blank"><img class="supporter center" src="imgs/subway.gif"></a>
        </div>
        <div class="col s12 m4">
          <a href="https://www.novatec.com.br" target="_blank"><img class="supporter center" src="imgs/logo_novatec.gif"></a>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m4">
          <a href="http://4linux.com.br/" target="_blank"><img class="supporter  center" src="imgs/4linux_training.png"></a>
        </div>
        <div class="col s12 m4">
          <a href="https://www.facebook.com/Padaria-Pontual-219712808105806/" target="_blank"><img class="supporter center" src="imgs/pontual.jpg"></a>
        </div>
        <div class="col s12 m4">
          <a href="https://arqpelago.com.br/" target="_blank"><img class="supporter  center" src="imgs/ARQUIPELAGO-LOGO.svg"></a>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4">
          <a href="https://www.dominos.com.br" target="_blank"><img class="supporter center" src="imgs/dominos.svg"></a>
        </div>
        <div class="col s12 m4">
          <a href="http://www.chiefofdesign.com.br" target="_blank"><img class="supporter-height center" src="imgs/chief-of-design.png"></a>
        </div>
        <div class="col s12 m4">
          <a href="https://www.alura.com.br/" target="_blank"><img class="supporter center" src="imgs/alura.png"></a>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4">
          <a href="http://impactobrindes.net/" target="_blank"><img class="supporter center" src="imgs/impacto.jpg"></a>
        </div>
        <div class="col s12 m4">
          <a href="https://www.casadocodigo.com.br/" target="_blank"><img class="supporter center" src="imgs/casadocodigo.svg"></a>
        </div>
        <div class="col s12 m4">
          <a href="http://www.cocacola.com.br/" target="_blank"><img class="supporter center" src="imgs/cocacola.svg"></a>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4">
          <a href="https://www.facebook.com/digiart-formatura-1470011099921587" target="_blank"><img class="supporter-height center" src="imgs/digiart.svg"></a>
        </div>
        <div class="col s12 m4">
          <a href="/imgs/peixinho.svg" target="_blank"><img class="supporter center" src="imgs/peixinho.svg"></a>
        </div>
      </div>
    </div>
    <div class="col s12 m3">
      <img class="img-responsive lighthouse" src="imgs/lighthouse.png">
    </div>
  </div>
</div>
