<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="home-h1 header center scti-blue-text">6ª Semana de Ciência da Computação e Tecnologia da Informação</h1>
    <h4 class="home-h5 header center scti-blue-text">24 a 27 de outubro no Centro de Convenções da UENF </h4>
    <div class="row center">
      <h5 class="header col s12 light">Como ser um bom profissional na área de TI?</h5>
    </div>
    <div class="row center">
      <a class="waves-effect waves-light btn btn-large scti-blue modal-trigger" ng-click="openModal()">Inscreva-se</a>
      <% include partials/signupModal %>
      <% include partials/loginModal %>
    </div>
    <br><br>
  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><img class="text-icon" src="imgs/mic-icon.png"></h2>
          <h5 class="center">Palestras</h5>

          <p class="light">As palestras são uma ótima oportunidade de aprendizado com vários profissionais de diversas áreas apresentando temas super atuais no mercado de trabalho. Você não pode ficar de fora!!</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><img class="text-icon" src="imgs/workshop.png"></h2>
          <h5 class="center">Minicursos</h5>

          <p class="light">Os minicursos são uma ótima maneira de introduzir técnicas, ferramentas e boas práticas que podem ser essenciais para sua carreira na área de computação. Quer aprender rápido e com uma visão geral do assunto? Então vem!</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><img class="text-icon" src="imgs/networking.png"></h2>
          <h5 class="center">Networking</h5>

          <p class="light">Um dos pontos altos do evento é a possibilidade de conhecer gente nova da área da informática e afins, em busca de aprendizado, oportunidades e de compartilhar boas histórias. Queremos te conhecer :D </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><img class="text-icon" src="imgs/coffeebreak.png"></h2>
          <h5 class="center">Coffee Break</h5>

          <p class="light">Não precisa ficar com fome durante a SCTI. A gente dá uma pausa, faz uma boquinha, bate um papo e volta com todo gás para mais uma carga de conhecimento. Além disso, a gente capricha nos petiscos!!</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><img class="text-icon" src="imgs/raffle.png"></h2>
          <h5 class="center">Sorteios</h5>

          <p class="light">Durante o evento vários livros, brindes, cursos, cupons de desconto e muitas outras coisas bacanas são sorteadas para os participantes presentes. Então, participe todos os dias do evento para não perder nenhuma chance. Cada dia será uma nova surpresa! </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><img class="text-icon" src="imgs/gift.png"></h2>
          <h5 class="center">Brindes</h5>

          <p class="light">Se inscrevendo agora você garante os brindes que a comissão do evento oferece aos participantes. Não perca tempo, você não vai querer perder nossos brindes exclusivos!</p>
        </div>
      </div>
    </div>

  </div>
</div>

  <br><br>

  <div class="backgrey">
    <img class="img-responsive construction" src="imgs/preview.jpg">
    <div class="construction-alert">Estamos em construção.</div> 
    <div class="construction-alert2">Não perca tempo, inscreva-se agora!</div>
  </div>

  <div class="section">
  </div>

<div class="row">
  <div class="col s12 m8 offset-m1">
    <div class="row">
      <div class="col s12 m1 offset-m3">
          <img class="text-icon center" alt="icone de uma medalha de bronze" src="imgs/copper.png">  
        </div>
        <div class="col s12 m4">
          <h6 class="sponsorship-header">Patrocínio Bronze:</h6>  
        </div>
    </div>
    <div class="row">
      <div class="col s12 m4 offset-m2">
        <a href="http://allanisnetworks.com/" target="_blank"><img class="copper-sponsor center" src="imgs/allanis.png"></a>
      </div>
      <div class="col s12 m4">
        <a href="http://soulcodejr.com/" target="_blank"><img class="copper-sponsor center" src="imgs/soulcode.png"></a>
      </div>
    </div>
    <div class="row support">
      <div class="col s12 m1 offset-m3">
          <img class="text-icon center" alt="icone de uma boia salva-vidas" src="imgs/support.png">  
        </div>
        <div class="col s12 m4">
          <h6 class="sponsorship-header">Apoio:</h6>  
        </div>
    </div>
    <div class="row">
      <div class="col s12 m2">
        <a href="https://www.caelum.com.br" target="_blank"><img class="supporter center" src="imgs/caelum-logo.svg"></a>
      </div>
      <div class="col s12 m2">
        <a href="http://treinaweb.com.br/" target="_blank"><img class="supporter  center" src="imgs/treinaweb.svg"></a>
      </div>
      <div class="col s12 m2">
        <a href="https://www.novatec.com.br" target="_blank"><img class="supporter center" src="imgs/logo_novatec.gif"></a>
      </div>
      <div class="col s12 m2">
        <a href="http://www.chiefofdesign.com.br" target="_blank"><img class="supporter-height center" src="imgs/chief-of-design.png"></a>
      </div>
     <div class="col s12 m2">
        <a href="http://4linux.com.br/" target="_blank"><img class="supporter  center" src="imgs/4linux_training.png"></a>
      </div>
      <div class="col s12 m2">
        <a href="https://www.apiki.com" target="_blank"><img class="supporter center" src="imgs/apiki.svg"></a>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <img class="img-responsive lighthouse" src="imgs/lighthouse.png">
  </div>  
</div>