<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>SCTI 2016</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="scti-blue" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" class="brand-logo" href="#"><img class="logo-img" src="imgs/logo.png"></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="modal-trigger" href="#modal2">Login</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#modal2">Login</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center scti-blue-text">6ª Semana de Ciência da Computação e Tecnologia da Informação</h1>
      <div class="row center">
        <h5 class="header col s12 light">Como ser um bom profissional na área de TI?</h5>
      </div>
      <div class="row center">
        <a class="waves-effect waves-light btn modal-trigger btn-large scti-blue" href=#modal1>Inscreva-se</a>
        <div id="modal1" class="modal subscription-modal">
          <div class="modal-content">
            <h4 class="header center scti-blue-text">Inscrição</h4>
            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix scti-blue-text">account_circle</i>
                    <input id="name" type="text" class="validate">
                    <label for="name">Nome Completo</label>
                  </div>
                  <div class="input-field col s12">
                    <i class="material-icons prefix scti-blue-text">email</i>
                    <input id="email" type="tel" class="validate">
                    <label for="email">E-mail</label>
                  </div>
                  <div class="input-field col s12">
                    <i class="material-icons prefix scti-blue-text">lock_outline</i>
                    <input id="password" type="password" class="validate">
                    <label for="password">Senha</label>
                  </div>
                  <div class="input-field col s12">
                    <i class="material-icons prefix scti-blue-text">https</i>
                    <input id="password2" type="password" class="validate">
                    <label for="password2">Confirmar Senha</label>
                  </div>
                  <div class="input-field col s12">
                    <button type="submit" class="waves-effect waves-light btn btn-large scti-blue">Enviar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div id="modal2" class="modal subscription-modal">
          <div class="modal-content">
            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix scti-blue-text">email</i>
                    <input id="email2" type="tel" class="validate">
                    <label for="email2">E-mail</label>
                  </div>
                  <div class="input-field col s12">
                    <i class="material-icons prefix scti-blue-text">lock_outline</i>
                    <input id="password2" type="text" class="validate">
                    <label for="password2">Senha</label>
                  </div>
                  <div class="input-field col s12">
                    <button type="submit" class="waves-effect waves-light btn scti-blue">Login</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><img class="text-icon" src="imgs/mic-icon.png"></h2>
            <h5 class="center">Palestras</h5>

            <p class="light">As palestras são uma ótima oportunidade de aprendizado com vários profissionais de diversas áreas apresentando temas super atuais no mercado de trabalho. Você não pode ficar de fora!!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><img class="text-icon" src="imgs/workshop.png"></h2>
            <h5 class="center">Minicursos</h5>

            <p class="light">Os minicursos são uma ótima maneira de introduzir técnicas, ferramentas e boas práticas que podem ser essenciais para sua carreira na área de computação. Quer aprender rápido e com uma visão geral do assunto? Então vem!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><img class="text-icon" src="imgs/networking.png"></h2>
            <h5 class="center">Networking</h5>

            <p class="light">Um dos pontos altos do evento é a possibilidade de conhecer gente nova da área da informática e afins, em busca de aprendizado, oportunidades e de compartilhar boas histórias. Queremos te conhecer :D </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><img class="text-icon" src="imgs/coffeebreak.png"></h2>
            <h5 class="center">Coffee Break</h5>

            <p class="light">Não precisa ficar com fome durante a SCTI. A gente dá uma pausa, faz uma boquinha, bate um papo e volta com todo gás para mais uma carga de conhecimento. Além disso, a gente capricha nos petiscos!!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><img class="text-icon" src="imgs/raffle.png"></h2>
            <h5 class="center">Sorteios</h5>

            <p class="light">Durante o evento vários livros, brindes, cursos, cupons de desconto e muitas outras coisas bacanas são sorteadas para os participantes presentes. Então, participe todos os dias do evento para não perder nenhuma chance. Cada dia será uma nova surpresa! </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><img class="text-icon" src="imgs/gift.png"></h2>
            <h5 class="center">Brindes</h5>

            <p class="light">Se inscrevendo agora você garante os brindes que a comissão do evento oferece aos participantes. Não perca tempo, você não vai querer perder nossos brindes exclusivos!</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>


  <div class="row">
    <div class="col s8 m4">
      <img class="img-responsive lighthouse" src="imgs/lighthouse.png">
    </div>
  </div>
  <footer class="page-footer scti-blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Sobre o evento</h5>
          <p class="grey-text text-lighten-4">A Semana de Ciência da Computação e Tecnologia da Informação (SCTI) é um dos eventos que compõe a Semana Acadêmica Unificada da UENF que todo ano reúne os alunos de graduação para participar de palestras, feiras, apresentações culturais, minicursos entre diversas outras atividades.</p>


        </div>
        <div class="col l4 s12">
          <h5 class="white-text">Endereço</h5>
          <p class="grey-text text-lighten-4">Universidade Estadual do Norte Fluminense Darcy Ribeiro, Av. Alberto Lamego, 2000 - Parque Califórnia, Campos dos Goytacazes - RJ,  CEP: 28013-602</p>
        </div>
        <div class="col l2 s12">
          <h5 class="white-text">Contato</h5>
          <ul class="contact-links">
            <li><a class="white-text" href="https://www.facebook.com/SCTI.UENF/"><i class="fa fa-facebook" aria-hidden="true"></i> /SCTI.UENF
</a></li>
            <li><a class="white-text" href="#!"><i class="fa fa-snapchat-ghost" aria-hidden="true"></i> scti2016</a></li>
            <li><a class="white-text" href="https://www.instagram.com/sctiuenf/"><i class="fa fa-instagram" aria-hidden="true"></i> sctiuenf</a></li>
            <li><a class="white-text" href="#!"><i class="fa fa-envelope" aria-hidden="true"></i> scti@uenf.br</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
    <div class="container"> 
      <div class="row">
        <div class="col s12 m6">
          <img class="footer-img" src="imgs/logo.png">
          <img class="footer-img" src="imgs/semanaacademica.png">
        </div>
      
     </div>
    </div>  
  </footer>

 
  <!--  Scripts-->
  <script src="https://use.fontawesome.com/d629e5a59e.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
