<h4 class="header center scti-blue-text">Redefinição de Senha</h4>
<p class="center"></p>
<form ng-submit="lostPassword()">
  <div class="file-field input-field">
    <div class="row">
      <div class="input-field col s12">
            <i class="material-icons prefix scti-blue-text">lock_outline</i>
            <input my-enter="newPassword()" ng-model="user.password" id="password" type="password" class="validate"  ng-class="{invalid: invalidPassword}">
            <label for="password" data-error="Sua senha deve ter no mínimo 5 caracteres">Senha</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix scti-blue-text">https</i>
            <input my-enter="newPassword()" ng-model="password2" id="password2" type="password" class="validate">
            <label for="password2" data-error="As senhas digitadas precisam ser iguais">Confirmar Senha</label>
          </div>
    </div>
   <div class="input-field col s12">
            <button ng-click="newPassword()" type="submit" class="waves-effect waves-light btn btn-large scti-blue">Redefinir Senha</button>
          </div>
</form>
