<div class="select-tabs">
  <ul class="tabs">
    <li class="tab col s6 m4 offset-m2" ng-class="{active: talksShow}"><a href="" ng-click="showTalks=true">Palestras</a></li>
    <li class="tab col s6 m4 offset-m2" ng-class="{active: !talksShow}"><a href="" ng-click="showTalks=false">Minicursos</a></li>
  </ul>
</div>

<% include partials/talks %>
<% include partials/workshops %>
