<div class="select-tabs row">
  <ul class="tabs col s12 m8 offset-m2">
    <li class="tab col s6 m4" ng-class="{active: showTalks}"><a href="" ng-click="showTalks=true">Palestras</a></li>
    <li class="tab col s6 m4" ng-class="{active: !showTalks}"><a href="" ng-click="showTalks=false">Minicursos</a></li>
  </ul>
</div>

<div class="container">
  <% include partials/talks %>
  <% include partials/workshops %>
  <small class="center">Observação: Programação sujeita a alterações</small>

  <div class="row center-align valign-wrapper">
    <div class="col s12 m3">
      <h3 class="header scti-blue-text">Gostou?</h3>
    </div>
    <div class="col s12 m3">
      <p class="header center light">Não perca tempo!</p>
    </div>
    <div class="col s12 m3">
      <a class="waves-effect waves-light btn btn-large scti-blue modal-trigger" ng-click="openModal()">Inscreva-se</a>
      <% include partials/signupModal %>
    </div>
    <div class="col s12 m3">
      <h5 class="header col s12 bold">Investimento: R$50,00</h5>
    </div>
  </div>
</div>
