<div class="section no-pad-bot" id="index-banner">
<div class="container">
  <div class="section no-pad-bot" id="index-banner">
<div class="container">
  <h1 class="header center scti-blue-text">Status de Pagamento</h1>
  <div class="row center">
    
    <div class="row">
    <div class="col s16 m2">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons prefix gray-icon">query_builder</i></h2>
        <p class="light">Aguardando pagamento</p>
      </div>
    </div>

     <div class="col s16 m3">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons prefix gray-icon">trending_flat</i></h2>
      </div>
    </div>

    <div class="col s16 m2">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons prefix gray-icon">repeat</i></h2>
        <p class="light">Processando pagamento</p>
      </div>
    </div>

     <div class="col s16 m3">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons prefix gray-icon">trending_flat</i></h2>
      </div>
    </div>

    <div class="col s16 m2">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons prefix gray-icon">thumb_up</i></h2>
        <p class="light">Aprovado</p>
      </div>
    </div>
  </div>

  </div>
 </div>
</div>   
<br><br>
<br><br>
  <h1 class="header center scti-blue-text">Pagamento</h1>
  <div class="row center">
    <h5 class="header col s12 light">Escolha a  melhor forma de pagamento para você:</h5>
  </div>
 </div>
</div>   

<div class="container">
<div class="section">

  <!--   Icon Section   -->
  <div class="row">
    <div class="col s12 m6">
      <div class="icon-block">
        <h2 class="center light-blue-text"><img class="text-icon" src="imgs/paypal-logo.png"></h2>
        <h5 class="center">Paypal</h5>

        <p class="light">Com essa forma de pagamento, a inscrição pode ser dividida até em 3 vezes:</p><center>
        <p class="light">1x de R$53,10 (10,00% de desconto)</p>
        <p class="light">2x de R$29,50 = R$59,00</p>
        <p class="light">3x de R$19,66 = R$59,00</p>

        <p class="light comment">*As taxas são referentes ao serviço prestado pelo Paypal.</p></center>

      </div>
    </div>

    <div class="col s12 m6">
      <div class="icon-block">
        <h2 class="center light-blue-text"><img class="text-icon" src="imgs/payment.png"></h2>
        <h5 class="center">Presencial</h5>

        <p class="light">Você também tem a opção de pagar diretamente a um de nossos organizadores. Clicando aqui você encontra a lista de horários e lugares onde você pode nos encontrar.</p>
        <center><p class="light">1x de R$50,00</p></center>
      </div>
    </div>
  </div>
</div>

<div class="section">

</div>
</div>