/* floating box style */
.floating-form { /*contact form wrapper*/
    max-width: 300px;
    padding: 30px 30px 10px 30px;
    border: 1px solid #ddd;
    right: 10px;
    position: fixed; /*Form position fixed*/
    background-color: #ebf5fb;
    z-index: 1000;
    }
.contact-opener { /*opener button*/
    position: absolute;
    left: -82px;
    transform: rotate(-90deg); /* rotate button -90deg */
    top: 100px;
    padding: 9px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.43);
    cursor: pointer;
    border-radius: 5px 5px 0px 0px;
    background-color: #2b7199;
    z-index: 1000;
}