/* RESPONSIVE */
@media only screen and (min-width: 600px) {
    .lighthouse {
        bottom: -500px ;
    }
}
@media only screen and (max-width: 600px) {
  .mobile-no-show{
    display: none;
  }
  #talks .card .card-stacked .card-action span.mobile-small-text, #workshops .card .card-stacked .card-action span.mobile-small-text{
    font-size: 11px;
  }
  .valign-wrapper{
    display: block !important;
    webkit-display: block !important;
  }
}


@media only screen and (min-width: 900px){

	.valign{
		margin-top: 115px;
	}
}
