.select-tabs
  .tabs
    .tab
      display: block
      a
        color: $graphite
    .active
      a
        color: $scti-blue
        border-style: solid
        border-color: $scti-blue
        border-width: 0px 0px 3px 0px

.chips
  display: table
  margin: 0 auto
  background-color: $orange
  img
    height: 100px
    width: auto

#talks, #workshops
  margin-top: 30px
  h3
    margin-top: 50px
    margin-left: 20px
    font-size: 18px
    color: $graphite
    padding-bottom: 10px
    border-style: solid
    border-color: $orange
    border-width: 0px 0px 2px 0px
  .card
    p
      font-weight: 300
      font-size: 12px
      margin-top: 10px
    .card-image
      img
        width: 100px
        height: auto
    .card-action
        padding: 10px
        a
          float: left
        span
          font-weight: bold
          float: right
          font-size: 18px
    h5
      margin: 0
      font-size: 15px
      font-weight: bold
