/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

a {
	color: #FFFFFF;
}

.payment{
	height: 450px;
}

.home-h1{
	font-size: 3rem;
}

.home-h5{
	font-size: 1.5rem;
}

.logo-img{
	width: 150px;
	height: auto;
	padding: 10px;
}

.scti-blue-text{
	color:#3ea2db;
}

.scti-blue{
	background-color: #3ea2db;
}

.btn.scti-blue:hover{
	background-color: #1e82bb;
}


footer.scti-blue{
	background-color: #3ea2db;
}

.lighthouse{
	width: 50vw;
    max-width: 250px;
    height: auto;
    bottom: -100px;
    position: relative;
    z-index: -2;
}

.subscription-modal{
	float: none;
	height: 100%;
}

.input-field .prefix.active {
  color: #1e82bb;
}

.input-field label.active {
	color: #1e82bb;
}

.input-field label.active {
	color: #1e82bb;
} 	

.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 79%;
  width: 55%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
}

#modal2{
	max-height: 40%;
	width: 35%;

}

.text-icon{
	height:50px;
	width: auto;
}

.contact-links li:hover{
	color: #1a1a1a;
}

.footer-img{
	height: 30px;
	width: auto;
	padding-top: 10px;
	margin: 0 20px;
}
.comment{
	font-size: 10px;
}

.gray-icon {
	color: #bdbdbd;
}

.orange-icon {
	color: #FE8101;
}

.green-icon {
	color: #2BBBAD;
}

.sponsorship-header{
	text-transform: uppercase;
	letter-spacing: 0.2em;
	text-align: center;
	margin: 20px 0;
}

img.center{
	display: table;
	margin: 0 auto;
}

.copper-sponsor{
	height: auto;
	width: 240px;
	padding: 30px 0; 
}

.supporter{
	height: auto;
	width: 130px;
	padding: 30px 0; 
}

.supporter-height{
	height: 150px;
	width: auto;
	padding-bottom: 30px; 
}

.construction {
	max-width: 300px;
	max-height: 300px;
	width: 70vw;
    height: auto;
    bottom: 0px;
    position: relative;
}

.backgrey{
	bottom: 50px;
	position: relative;
	background-color: #d5d5d5;
}

.construction-alert{
	float: right;
	font-size: 40px;
	color: #FD8124;
	width: 900px;
	margin-top: 50px;
	font-family: 'Orbitron', sans-serif;
	position: relative;
}

.construction-alert2{
	float: right;
	font-size: 40px;
	color: #FD8124;
	width: 850px;
	margin-top: -120px;
	font-family: 'Orbitron', sans-serif;
}

.payment.active{
	background-color: #3ea2db;
	color: #fff;
	transition: 1s;
}

button.center{
	display: table;
	margin: 0 auto;
	float: none !important; 
}

button.sleep{
	display: none;
}



#local-pay, #paypal{
	max-width: 450px;
	width: 45vw;
	margin-bottom: 30px;
	transition: 1s;
}